* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(217, 188, 231, 0.757);
}

.container_main {
  text-align: center;
  padding-top: 10rem;
}

h1 {
  padding-bottom: 2rem;
}

#birthdate {
  padding: 0.3rem;
  border-radius: 5px;
  border-color: lightpink;
  margin-right: 0.3rem;
}

#count {
  padding: 0.4rem 2rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 131, 150);
  color: #fff;
  cursor: pointer;
}

#count:hover {
  background-color: rgba(255, 160, 174, 0.952);
}

#result {
  padding-top: 1rem;
}

#error {
  color: red;
}
